<!DOCTYPE html>
<html>

<meta charset="utf-8">
<title>Flags</title>
<link rel="stylesheet" href="../report/css/style.css">
<link rel="icon" href="../report/img/poop.png">
</head>


<body>
    <div class="topnav" id="myTopnav">
        <nav>
            <a href="../report/html/me.html">Me</a>
            <a href="../report/html/report.html">Report</a>
            <a href="../report/html/about.html">About</a>
            <a href="../report/html/schools.html">Schools</a>
            <a href="../report/html/flags.html">Flags</a>
            <a href="/lotto" class="active">Lotto</a>
        </nav>
    
    </div>
    <div class="main">
        <h1>Todays lotto numbers are...</h1>

        <p> <%= lotto %></p>
    </div>
</body>

</html>