@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This is the about page. What more can I say? You can view the account stuff on the next page. I'm not a big fan of C#. Just kidding, what do I know?
        This is the exercise where we get to learn a bit of C# and .NET. I'm gonna go for a 3 here because I have way too much work to do. Thank you.
    </p>
</div>
